/* ADD YOUR STYLES HERE */
/*            6         */
.arbitrary-horizontal {
    text-align: center;
}

.arbitrary-horizontal > * {
	display: inline-block;
	vertical-align: top;
	margin: 20px;
}

/*            7       */
.arbitrary-vertical {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*         8        */
.horizontal-list {
	padding: 0;
}

.horizontal-list > li {
	float: left;
	list-style: none;
}

/*         9        */
.button {
	padding: 10px 40px;
	display: inline-block;
	color: #fff;
	background-color: #ec828a;
	text-decoration: none;
	border-radius: 5px;
	border: 0;
}
.button:hover {
	background-color: #dc626a;
}

.button-small {
	padding: 5px 8px;
	font-size: 15px;
}

.button-large {
	padding: 20px 60px;
	font-size: 25px;
}

/*     10            */
.navigation li {
  display: inline-block;
}

.navigation ul {
   background-color: #ec828a; 
   border-radius: 5px;
   padding: 0;
   text-align: center;
}

.navigation li:first-child a {
  border-radius: 4px 0 0 4px;
}

.navigation li:last-child a {
  border-radius: 0 4px 4px 0;
}


/*        11        */
ol.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ol.pagination li {
    display: inline;
}

ol.pagination li a, span {
    color: red;
    padding: 8px 16px;
    text-decoration: underline;
}

ol.pagination li span .active {
    color: gray;
}

/*                wqwdqwd             */
.tabs {
	list-style: none;
	padding-left: 10px;
}

tab-heading {
    color: black;
}
.tabs > li {
	display: inline-block;
}

.tab {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 8px 8px 0 0;
	border: solid 1px blue;
	margin-right: 5px;
	position: relative;
	top: 1px;
	text-decoration: none;
}

#tab-active {
	border-bottom-color: #fff;
}

#tab-content {
	padding: 10px;
	border-radius: 5px;
	border: solid 1px blue;
}